USE [master]
GO
/****** Object:  Database [quanlidaily]    Script Date: 10.06.2021 10:43:15 AM ******/
CREATE DATABASE [quanlidaily]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlydaily', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\quanlydaily.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quanlydaily_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\quanlydaily_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlidaily].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlidaily]
GO
/****** Object:  Table [dbo].[BAOCAOCONGNO]    Script Date: 10.06.2021 10:43:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAOCONGNO](
	[MaCongNo] [int] NOT NULL,
	[MaChiTietCongNo] [int] NOT NULL,
	[Thang] [datetime] NOT NULL,
	[Nam] [datetime] NOT NULL,
 CONSTRAINT [PK_BAOCAOCONGNO] PRIMARY KEY CLUSTERED 
(
	[MaCongNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAOCAODOANHSO]    Script Date: 10.06.2021 10:43:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAODOANHSO](
	[MaDoanhSo] [int] NOT NULL,
	[MaChiTietDoanhSo] [int] NOT NULL,
	[Thang] [datetime] NOT NULL,
	[Nam] [datetime] NOT NULL,
 CONSTRAINT [PK_BAOCAODOANHSO] PRIMARY KEY CLUSTERED 
(
	[MaDoanhSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_BAOCAOCONGNO]    Script Date: 10.06.2021 10:43:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BAOCAOCONGNO](
	[MaChiTietCongNo] [int] NOT NULL,
	[MaDaiLy] [int] NOT NULL,
	[NoDau] [money] NOT NULL,
	[PhatSinh] [money] NOT NULL,
	[NoCuoi] [money] NOT NULL,
 CONSTRAINT [PK_CT_BAOCAOCONGNO] PRIMARY KEY CLUSTERED 
(
	[MaChiTietCongNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_BAOCAODOANHSO]    Script Date: 10.06.2021 10:43:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BAOCAODOANHSO](
	[MaChiTietDoanhDo] [int] NOT NULL,
	[MaDaiLy] [int] NOT NULL,
	[SoPhieuXuat] [int] NOT NULL,
	[TongTriGia] [money] NOT NULL,
	[TyLe] [float] NOT NULL,
 CONSTRAINT [PK_CT_BAOCAODOANHSO] PRIMARY KEY CLUSTERED 
(
	[MaChiTietDoanhDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAPHANG]    Script Date: 10.06.2021 10:43:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAPHANG](
	[MaPhieuNhap] [int] NOT NULL,
	[MaMatHang] [int] NOT NULL,
	[DVT] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
	[ThanhTien] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUXUATHANG]    Script Date: 10.06.2021 10:43:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUXUATHANG](
	[MaPhieuXuat] [int] NOT NULL,
	[MaMatHang] [int] NOT NULL,
	[DVT] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
	[ThanhTien] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAILY]    Script Date: 10.06.2021 10:43:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILY](
	[MaDaiLy] [int] NOT NULL,
	[TenDaiLy] [nvarchar](50) NOT NULL,
	[DienThoai] [int] NOT NULL,
	[MaQuan] [int] NOT NULL,
	[MaLoaiDaiLy] [int] NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[NgayTiepNhan] [datetime] NOT NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DAILY] PRIMARY KEY CLUSTERED 
(
	[MaDaiLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDAILY]    Script Date: 10.06.2021 10:43:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDAILY](
	[MaLoaiDaiLy] [int] NOT NULL,
	[TenLoaiDaiLy] [nvarchar](50) NOT NULL,
	[TienNoToiDa] [money] NULL,
 CONSTRAINT [PK_LOAIDAILY] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDaiLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 10.06.2021 10:43:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MaMatHang] [int] NOT NULL,
	[TenMatHang] [nvarchar](50) NOT NULL,
	[DVT] [nvarchar](50) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
 CONSTRAINT [PK_MATHANG] PRIMARY KEY CLUSTERED 
(
	[MaMatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 10.06.2021 10:43:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MaPhieuNhap] [int] NOT NULL,
	[NgayLapPhieu] [datetime] NOT NULL,
	[TongTien] [money] NOT NULL,
	[SoTienTra] [money] NOT NULL,
	[ConLai] [money] NOT NULL,
 CONSTRAINT [PK_PHIEUNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 10.06.2021 10:43:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN](
	[MaPhieuThuTien] [int] NOT NULL,
	[MaDaiLy] [int] NOT NULL,
	[NgayThuTien] [datetime] NOT NULL,
	[SoTienThu] [money] NOT NULL,
 CONSTRAINT [PK_PhieuThuTien] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThuTien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUATHANG]    Script Date: 10.06.2021 10:43:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUATHANG](
	[MaPhieuXuat] [int] NOT NULL,
	[MaDaiLy] [int] NULL,
	[NgayLapPhieu] [datetime] NOT NULL,
	[TongTien] [money] NOT NULL,
	[SoTienTra] [money] NOT NULL,
	[ConLai] [money] NOT NULL,
 CONSTRAINT [PK_PhieuXuatHang] PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUAN]    Script Date: 10.06.2021 10:43:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN](
	[MaQuan] [int] NOT NULL,
	[TenQuan] [nvarchar](50) NOT NULL,
	[SoDaiLyToiDa] [int] NOT NULL,
 CONSTRAINT [PK_QUAN] PRIMARY KEY CLUSTERED 
(
	[MaQuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 10.06.2021 10:43:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[ApDungTienNo] [bit] NULL,
	[TyLeDonGiaXuat] [int] NULL,
	[SoDaiLyToiDa] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
